USE [master]
GO
/****** Object:  Database [Demo]    Script Date: 14/7/2018 5:32:11 p. m. ******/
CREATE DATABASE [Demo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InfosGroup', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\InfosGroup.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'InfosGroup_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\InfosGroup_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Demo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Demo]
GO
/****** Object:  StoredProcedure [dbo].[sp_data_cliente]    Script Date: 14/7/2018 5:32:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_data_cliente]
	@Id INT=NULL,
	@TipoData INT=0
AS
BEGIN
	
	SET NOCOUNT ON;

    IF @TipoData=0
	BEGIN
		SELECT Id, Nombres, Apellidos, FechaNacimiento, DUI, Direccion
		FROM Cliente
	END ELSE
	IF @TipoData=1
	BEGIN
		SELECT Id, Nombres, Apellidos, FechaNacimiento, DUI, Direccion
		FROM Cliente
		WHERE Id=@Id
	END	
END

GO
/****** Object:  StoredProcedure [dbo].[sp_mtto_cliente]    Script Date: 14/7/2018 5:32:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_mtto_cliente]
	@Id INT=NULL OUTPUT,
	@Nombres VARCHAR(50)=NULL,
	@Apellidos VARCHAR(50)=NULL,
	@FechaNacimiento DATE=NULL,
	@DUI VARCHAR(50)=NULL,
	@Direccion VARCHAR(250)=NULL,
	-- Parametros de sistema
	@TipoMtto INT
AS
BEGIN
	
	SET NOCOUNT ON;

	
	-- Insertar
	IF @TipoMtto=1
	BEGIN
		INSERT INTO Cliente (Nombres, Apellidos, FechaNacimiento, DUI, Direccion)
		VALUES (@Nombres, @Apellidos, @FechaNacimiento, @DUI, @Direccion)

		SELECT @Id = SCOPE_IdENTITY()
	END ELSE

	-- Actualizar
	IF @TipoMtto=2
	BEGIN
		UPDATE Cliente SET
		Nombres=@Nombres,
		Apellidos=@Apellidos,
		FechaNacimiento=@FechaNacimiento,
		DUI=@DUI,
		Direccion=@Direccion
		WHERE Id=@Id
	END ELSE

	-- Eliminar
	IF @TipoMtto=3
	BEGIN
		DELETE FROM Cliente
		WHERE Id=@Id
	END

	RETURN
    
END

GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 14/7/2018 5:32:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](50) NULL,
	[Apellidos] [varchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[DUI] [varchar](50) NULL,
	[Direccion] [varchar](250) NULL,
 CONSTRAINT [PK_CXC_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
